:root {
    --normal-font-size: 25px;
    --background-color: rgb(255, 251, 251);
}

@font-face {
    font-family: norse-bold;
    src: url(./Norse-Bold.otf);
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; } /* HTML5 display-role reset for older browsers */ article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; } body { line-height: 1; } ol, ul { list-style: none; } blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } table { border-collapse: collapse; border-spacing: 0; }`


* {
    /* box-sizing: border-box; */
}

.content {
    background-color: aqua;
    display: flex;
    height: 60vh;

}

p {
    border: 3px solid blue;
}

.left-container {
    width: 33vw;
    border: 3px solid yellow;
    height: inherit;
}

.left-container img {
    display: block;
    width: 100%;
    height: inherit;
}

.logo-container {
    /* should probably be relative or sum? */
    position: relative;
    display: flex;
    bottom: 400px;
    width: inherit;
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid red;
    font-family: norse-bold;
    height: 100px;
}



.logo-container img {
    width: auto;
    height: inherit;
}

.logo-container {
    font-size: 60px;
    line-height: 120px;
    text-align: center;
}

.img-credit {
    position: relative;
    margin: 0 auto;
    bottom: 150px;
    /* left: 50%; */
    text-align: center;
    color: white;
}

.right-container {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    justify-content: space-around;
    width: 75vw;
    border: 3px solid yellow;
}

.right-upper-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    height: 35%;
    border: 3px solid orange;
    background-color: var(--background-color);


}

.right-upper-container p {
    flex-wrap: wrap;
    width: 75%;
    font-size: var(--normal-font-size);
}

span {
    font-style: italic;
}

.right-mid-container {
    border: 3px solid orange;
    height: max(380px, 30%);
    padding-left: 30px;
    font-size: var(--normal-font-size);
    background-color: white;
}

form {
    display: flex;
    gap: 80px;
}

.left-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.right-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-size: 16px;
}

input {
    width: 250px;
    height: 20px;
    border-radius: 5px;
}

.right-lower-container {
    border: 3px solid orange;
    height: 35%;
    padding-left: 30px;
    padding-top: 20px;
    background-color: var(--background-color);

}

button {
    height: 50px;
    width: 240px;
    border-radius: 8px;
    background-color: rgb(31, 108, 31);
    color: white;
}