:root {
    --normal-font-size: 20px;
    --background-color: rgb(255, 251, 251);
}


* {
    /* box-sizing: border-box; */
}

.content {
    background-color: aqua;
    display: flex;
    height: 60vh;

}

p {
    border: 3px solid blue;
}

.left-container {
    width: 33vw;
    border: 3px solid yellow;
    height: inherit;
}

.left-container img {
    display: block;
    width: 100%;
    height: inherit;
}

.logo-container {
    /* should probably be relative or sum? */
    position: relative;
    bottom: 400px;
    width: inherit;
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid red;
}

.img-credit {
    position: relative;
    margin: 0 auto;
    bottom: 150px;
    /* left: 50%; */
    text-align: center;
    color: white;
}

.right-container {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    justify-content: space-around;
    width: 75vw;
    border: 3px solid yellow;
}

.right-upper-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    height: 35%;
    border: 3px solid orange;
    background-color: var(--background-color);


}

.right-upper-container p {
    flex-wrap: wrap;
    width: 75%;
    font-size: var(--normal-font-size);
}



.right-mid-container {
    border: 3px solid orange;
    height: 30%;
    padding-left: 30px;
    font-size: var(--normal-font-size);
    background-color: white;

}

.right-lower-container {
    border: 3px solid orange;
    height: 35%;
    padding-left: 30px;
    padding-top: 20px;
    background-color: var(--background-color);

}
